[submodule "contracts/evm/lib/forge-std"]
	path = contracts/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/evm/lib/cross-chain-swap"]
	path = contracts/evm/lib/cross-chain-swap
	url = https://github.com/1inch/cross-chain-swap
